body{
    background-color: red;

}
#navbar{
    display: flex;
    justify-content: center;
}
#home {
    height: 350px;
    display: flex;
    flex-direction: column;
    padding: 6px 100px;
    justify-content: center;
    align-items: center;
    
    position: relative;
    
}
.h-primary {
    font-size: 15px;
    padding: 12px;
    text-align: center;
}
.services-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#services .box {
    width: 20px;
    border: 4px solid brown;
    margin: 4px 7px;
    padding: 10px 30px;
    border-radius: 23px;
    text-align: left;
    background-color: #e6e0d9;
}
